@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{ margin: 0; padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header-area{
    background: $primary;
}

.navbar{

margin-left: auto;
margin-right: auto;
display: flex;
justify-content: space-between;
align-items: center;
max-width: 900px;
padding-top: 35px;

.nav-right{
    a{
        text-decoration: none;
        margin: 15px;
        color: $text-color ;
    }
    button{
        color: $text-color ;
        background: $primary;
        border: none;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid rgb(158, 152, 152);
    }
   
}

}
%width{
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
%button{
             border: none;
            background: #44CB9E;
            color: $text-color ;
            padding: 20px 50px;
            border-radius: 5px;
}

.top-head{
    @extend %width;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    color: $text-color ;

    .top-left{
        h1{
            font-weight: bolder;
            font-size: 35px;
        }
        p{
            line-height: 30px;
        }
    }
    .top-right{
        button{
            @extend %button;

        }
        p{
            font-size: 11px;
            line-height: 25px;
        }
    }
}

.top-img{
    img{
        width: 100%;
        margin-top: 25px;
        margin-bottom: -4px;
    }
}

.row-one{
    display: grid;
    grid-template-columns: 1fr 2fr;
    @extend %width;
    padding-top: 40px;
    div{
        padding-top: 50px;
        h2{
            font-weight: bolder;
           font-size: 32px;
        }
       p{
           font-size: smaller;
           padding-top: 20px;
           font-size: 15px;
       }
    }
   

}
.bg-img{
    background: url("./Assets/90697706-21a7-412c-9080-943a3cd47c27.jpeg") no-repeat center center/cover;
    height: 500px;
}
.row-area{
    display: grid;
    grid-template-columns: 2fr 1fr;
    @extend %width;
    padding-top: 80px;
    .text-area{
        h2{
            font-weight: bolder;
        }
        p{
            font-size: smaller;
            padding-top: 40px;
            // text-align: center;
        }
    }
    .video{
        margin-left: 50px;
    }
    
    
}

.row-three{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    justify-content: space-between;
    grid-column-gap:50px;
    .left{
        h2{
            font-size: 25px;
        }
        p{
            font-size: smaller;
        }
    }
    .right{
        h2{
            font-size:25px;
        }
        p{
            padding-top: 10px;
            font-size: smaller;
        }
    }
}

.row-four{
    background: rgb(206, 203, 203);
    padding-top: 50px;
    margin-top: 50px;
    padding-bottom: 50px;
    
    
    
    h2{
        text-align: center;
        padding-bottom: 20px;
    }
    .columns{
        display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @extend %width;
     .column-one{
         text-align: center;
         
         
         img{
             height: 100px;
             width: 100px;
             border-radius: 50%;
             padding: 20px;
         }
         p{
             padding: 10px;
             font-size: smaller;
         }
         .point{
            color: $primary;
         }
         span{
            color: $primary;
        }


     }
     .column-two{
        text-align: center;
        border-left: 1px solid rgb(156, 149, 149);
        border-right: 1px solid rgb(156, 149, 149);
        
        
        
        img{
            height: 100px;
            width: 100px;
            border-radius: 50%;
            padding: 20px;
        }
        p{
            padding: 10px;
            font-size: smaller;
        }
        .point{
            color: $primary;
        }
        span{
            color: $primary;
        }


    }
    .column-three{
        text-align: center;
        
        
        img{
            height: 100px;
            width: 100px;
            border-radius: 50%;
            padding: 20px;
        }
        p{
            padding: 10px;
            font-size: smaller;
        }
        .point{
            color: $primary;
        }
        span{
            color: $primary;
        }

    }

    
    }
}

.row-five{
    text-align: center;
    background: $primary;
    padding: 50px;
    color: $text-color ;
    line-height: 50px;
    h2{
        font-size: 35px

    }
    button{
        @extend%button;
    }

}

.footer{
    text-align: center;
    padding: 20px;
 
    color: rgb(145, 137, 137);

    a{
        
        text-decoration: none;
        color: rgb(145, 137, 137);
        margin: 5px;
    }
}




@media (max-width: 767px){


    .navbar{
        display: block;
        .logo{
            text-align: center;
        }
        .nav-right{
            text-align: center;

            a{
                margin: 4px;
                font-size: 12px;
                
            }
        }
    }
.top-head{
    // display: flex;
    // flex-direction: column;
    display: block;
    text-align: center;
}
.row-one{
    display: block;
    text-align: center;
    div{
        margin-top: -30px;
    }

}
.row-area{
    display: block;
    text-align: center;
    .video{
        align-items: center;
        padding-top: 25px;
        margin-right: 25px;
    }
}
.bg-img{
    height: 500px;
}

.row-three{
    display: block;
}
.right{
    padding-top: 20px;
}
.row-four{
    .columns{
         grid-template-columns: 1fr;
    
    }
    .column-two{
        border: none;
        border-top: 2px solid rgb(132, 136, 132);
        border-bottom: 2px solid rgb(132, 136, 132);


    }
    
}

}

